<main class="container mx-auto">
  <app-header></app-header>
  <nav class="my-8">
    <ul class="flex flex-row gap-4 text-lg">
      <li class="px-4 py-2 rounded-lg">
        <a
          routerLink="/"
          routerLinkActive="underline underline-offset-8"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="px-4 py-2 rounded-lg">
        <a
          routerLink="/page2"
          routerLinkActive="underline underline-offset-8"
          [routerLinkActiveOptions]="{ exact: true }"
          >Page 2</a
        >
      </li>
      <li class="px-4 py-2 rounded-lg">
        <a
          routerLink="/page3"
          routerLinkActive="underline underline-offset-8"
          [routerLinkActiveOptions]="{ exact: true }"
          >Cartes</a
        >
      </li>
      <li class="px-4 py-2 rounded-lg">
        <a
          routerLink="/page4"
          routerLinkActive="underline underline-offset-8"
          [routerLinkActiveOptions]="{ exact: true }"
          >Page 4</a
        >
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</main>
