<main class="container mx-auto">
  <app-header></app-header>
  <nav class="my-8">
    <ul class="flex flex-row gap-4 text-lg">
      <li>
        <a
          routerLink="/"
          routerLinkActive="bg-slate-200 px-4 py-2 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/page2"
          routerLinkActive="bg-slate-200 px-4 py-2 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          >Page 2</a
        >
      </li>
      <!-- <li><a routerLink="/infos">Infos</a></li> -->
    </ul>
  </nav>

  <router-outlet></router-outlet>
</main>
